<div class="container">
    <div class="row">
        <div class="col-12">
            <div>WELCOME TO MY WEBSCRAPER! Press the button above to scrape a webpage!</div>
        </div>
    </div>
</div>