<div class="container">
    <div class="row">
        <div id="appDescription" class="col-3">
        </div>
        <div id="appDescription" class="col-6">
            <h3>
                Press "Scrape Articles" in the above toolbar to scrape new technology articles
                from the New York Times, or select "See All Articles" to view what has already
                been scraped by others
            </h3>
        </div>
        <div id="appDescription" class="col-3">
        </div>
    </div>
</div>